@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen w-full text-gray-900 antialiased;
  }
  .wallet-adapter-button {
    @apply inline-flex items-center justify-center rounded-lg text-sm font-semibold transition-colors focus:outline-none focus:ring-4 !bg-gray-800 !text-white;
  }
}

@layer utilities {
  .bg-blur-image {
    background:
      linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) center center / cover no-repeat,
      url(/assets/overlay.jpg) center center / cover no-repeat;
  }
}

.wallet-adapter-dropdown {
  width: 100%;
  text-align: center;
}

.wallet-adapter-button {
  width: 100%;
  text-align: center !important;
  background-color: #212b36;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.wallet-adapter-button:hover {
  background-color: #454f5b;
}
